
* {
    margin: 0;
    box-sizing: border-box;
}

#productContainer {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

a{
    height: 50px;
}
@media (min-width: 768px) {
    #productContainer {
        height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .product {
        object-fit: contain;
        color: white;
        height: 40vh;
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        flex-wrap: nowrap;
    }
    .product, h2 , p, a{
        margin: 5px;
    }
    .product img {
        object-fit: contain; /* Puedes cambiar 'contain' por 'cover' según tus necesidades */
        max-width: 180%;
        max-height: 180%;
    }
}
@media (max-width: 768px) {
    #productContainer {
        height: 100vh;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    #productContainer img{
       width: 300%;
    }
    .product {
        object-fit: contain;
        overflow: hidden;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    
    .product img {
        object-fit: contain; 
        max-width: 120%;
        max-height: 120%;
    }
}