
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}
#productContainer {
    padding: 50px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


a{
    height: 50px;
}
@media (min-width: 768px) {
    #productContainer {
        height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .product {
        object-fit: contain;
        color: white;
        height: 40vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        flex-wrap: nowrap;
    }
    .product, h2 , p, a{
        margin: 5px;
    }
    .product img {
        object-fit: contain; /* Puedes cambiar 'contain' por 'cover' según tus necesidades */
        max-width: 180%;
        max-height: 180%;
    }
}
@media (max-width: 768px) {
    #productContainer {
        width: auto;
        height: auto;
        background-color: black;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .product {
        object-fit: contain;
        overflow: hidden;
        color: white;
        height: 100vh;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        flex-wrap: nowrap;
    }
    }
    .product img {
        object-fit: contain; /* Puedes cambiar 'contain' por 'cover' según tus necesidades */
        max-width: 120%;
        max-height: 120%;
    }
}